<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education - List of Meetings</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="../static/css/owl.css">
    <link rel="stylesheet" href="../static/css/lightbox.css">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->


<style>
.verticalhorizontal {
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}
</style>
  </head>

<body>

   

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Welcome in SRGAN Application <em> ITI </em> AI PRO | Machine Learning </p>

          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          Welcome SRGAN 
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="inference.html" class="active">INFERENCE</a></li>
                          <li><a href="index.html">SRGAN</a></li>
                          <!--<li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Upcoming Meetings</a></li>
                                  <li><a href="meeting-details.html">Meeting Details</a></li>
                              </ul>
                          </li>-->
                          <li><a href="index.html">About ITI</a></li> 
                          <!--<li><a href="index.html">Contact Us</a></li> -->
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <br/><br/><br/>
          <h6 style="color: black">Here are our Application</h6>
          <h2>SRGAN</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
			  
			<!--	<form method="POST" enctype="multipart/form-data" action = "http://localhost:5000/uploader">
					<div class="form-group">
						<div class="custom-file">
							
              <input type = "file" name = "Uplaod" />
              <input type = "submit"/>
-->
              <!-- <input type="file" class="custom-file-input" id="customFile" name="Uplaod">
							<label class="custom-file-label" for="customFile" ></label>
						 -->
            <!--</div>
					</div>-->
              <!-- <button class="btn btn-primary" type="submit">Submit form</button> -->
				<!-- </form> -->
         <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "Uplaod" />
         <input type = "submit"/>
         
      </form>

                <!--<ul>
                  <li data-filter="*"  class="active">All Meetings</li>
                  <li data-filter=".soon">Soon</li>
                  <li data-filter=".imp">Important</li>
                  <li -->
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div  class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item ">
                    <div class="thumb">

                      <div  class="price">
                        <span>SRGAN Output</span><br>

                        

                      </div>


                    </div> 

                  </div>

                </div>
                <img width="100px" height="700px" src="{{ url_for('image_feed') }}" alt=""/>
              </div>
            </div>


            <div class="col-lg-4 ">
                  <div class="seb">
                    <div >
                      
                      
                    </div>
                    <div class="down-content">
                      
                      
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                      <p><br></p>
                    </div>
                  </div>
                </div>
			
			
			
            <div class="col-lg-12">
              <div class="pagination">
                <!-- <ul>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div width="30%" height="40%">
      <a href="#">
    </div>





    <div class="footer">
      <p>Copyright © 2022 AI PRO INTAKE 1 Machine Learning
          <br>EPITA : <a href="https://www.iti.gov.eg/iti/home" target="_parent" title="free css templates">ITI</a></p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static/js/isotope.min.js"></script>
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/lightbox.js"></script>
    <script src="../static/js/tabs.js"></script>
    <script src="../static/js/isotope.js"></script>
    <script src="../static/js/video.js"></script>
    <script src="../static/js/slick-slider.js"></script>
    <script src="../static/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
